<?php 
  include("includes/header.php");
?>
    
    <div class="col-md-12 row" style="margin-top:40px;">
        <div class="col-md-2"></div>    
        <!--começo texto -->
        <div class="col-md-4" style="padding-right:40px;">
        <div class="text-center" style="padding-top:20px;padding-bottom:20px;">
                <h2 class="" style="padding-bottom:20px;">Quem Somos</h2>
                <img class="text-center" src="img/divider_line_big.svg">
            </div>
            <p style="padding-bottom:20px; margin-top:10px;">
            Agregar qualidade aos produtos e serviços, mediante a combinação de profissionais especializados e vasto investimento tecnológico, garantindo a confiabilidade do padrão MENDES E CASTRO.
            </p>
            <p>Fundada em 2007 sob solo Mineiro, a Construtora Mendes e Castro é fruto dos sonhos de dois sócios movidos por uma visão diferenciada do mercado da construção civil e repleto de ideias inovadoras com vertentes diretas às novas tendências, com destaque na utilização tecnologia e na propriedade sobre suas capacidades gerenciais.</p>
            <p>A constante revisão dos processos proporciona de forma clara e objetiva os mais altos padrões de qualidade, confiabilidade e compromisso com os seus clientes internos e externos.</p>
            <p>Com especializações em Gerenciamento, Fiscalização e Execução de Obras, construímos parcerias sólidas e de sucesso. Desta forma, alcançamos nosso principal objetivo: a satisfação dos nossos clientes, e assim aprimorar a cada dia nossa visão:</p>
            <ul>
                <li>Ser a melhor e maior empresa da região no ramo da construção civil.</li>
            </ul>
    
            <!-- <p style="padding-bottom:20px; margin-top:10px;">
            If you got a question, reach out via the contact form or phone and a member of our team will help you get started easily.</P>
            <p></p>
            <h6 style="color: #475764;">Office Hours:</h6>
            <p>We are open from 10:00 am to 8:00 pm except Saturdays and Sundays.</p> -->
        </div>
        <!--fim texto  -->
        <!-- form -->
        <div class="col-md-4" style="margin-left:10px; margin-bottom:50px; margin-top:1px;">
            <div class="col-md-10 " style="margin-left: 20px;margin-top:20px;margin-bottom:20px; padding-left:40px;">
            <form class="">
            <!-- H2 formulario  -->
            <div class="text-center" style="padding-bottom:20px;">
                <h2 class="" style="padding-bottom:20px;"> Envie suas dúvidas aqui</h2>
                <img class="text-center" src="img/divider_line_big.svg">
            </div>
            <!-- Text area  -->
            <div class="form-group" style="padding-bottom:20px;">
                <label for="exampleFormControlTextarea1" style="font-weight:bold; color: #475764; font-size:12px;">Escreva aqui</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
             <!-- nome  -->
            <div class="form-group" style="padding-bottom:20px;">
                <label for="exampleInputEmail1" style="font-weight:bold; color: #475764; font-size:12px;">Nome (obrigatório)</label>
                <input type="name" class="form-control" id="exampleInputName" aria-describedby="emailHelp">
                <small id="nameHelp" class="form-text text-muted" style="font-size:12px;" >Digite o seu nome aqui</small>
            </div>
            <!-- email -->
            <div class="form-group" style="padding-bottom:20px;">
                <label for="exampleInputEmail1" style="font-weight:bold; color: #475764; font-size:12px;">Email (obrigatório)</label>
                <input type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp">
                <small id="emailHelp" class="form-text text-muted" style="font-size:12px;" >Digite o seu nome aqui</small>
            <!-- telefone -->
            <div class="form-group" style="padding-bottom:20px;">
                <label for="exampleInputEmail1" style="font-weight:bold; color: #475764; font-size:12px;">Telefone (obrigatório)</label>
                <input type="phone" class="form-control" id="phoneInputEmail" aria-describedby="phoneHelp">
                <small id="phoneHelp" class="form-text text-muted" style="font-size:12px;" >Digite o seu telefone aqui</small>
            </div>
            
                <button type="submit" class="btn btn-primary" style="font-weight:bold; border-radius:22px;">Clique aqui</button>
                </form>
    
            </div>
        </div>
        <!-- fim form -->
        </div>
    <?php
    include("includes/footer.php");
    ?>
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js" type="module"></script>